
.filter-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .filter-container label,
  .filter-container input,
  .filter-container select {
    font-size: 16px;
    margin-right: 10px;
  }
  
  .filter-container select {
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
  }

  